In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [4]:
tesla = pd.read_csv("Tesla_Stock.csv")
ford = pd.read_csv("Ford_Stock.csv")
gm = pd.read_csv("GM_Stock.csv")

In [6]:
tesla.head()

         Date   Open   High    Low  Close   Volume
0  2012-01-03  28.94  29.50  27.65  28.08   928052
1  2012-01-04  28.21  28.67  27.50  27.71   630036
2  2012-01-05  27.76  27.93  26.85  27.12  1005432
3  2012-01-06  27.20  27.79  26.41  26.89   687081
4  2012-01-09  27.00  27.49  26.12  27.25   896951

In [ ]:
tesla['Open'].plot(label = 'Tesla', figsize=(16,8), title = 'Open Price')
gm['Open'].plot(label = 'GM')
ford['Open'].plot(label = 'Ford')