In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [3]:
df = pd.read_csv('walmart_stock.csv', index_col='Date', parse_dates=True)

In [4]:
df.head()

                 Open       High        Low      Close    Volume  Adj Close
Date
2012-01-03  59.970001  61.060001  59.869999  60.330002  12668800  52.619235
2012-01-04  60.209999  60.349998  59.470001  59.709999   9593300  52.078475
2012-01-05  59.349998  59.619999  58.369999  59.419998  12768200  51.825539
2012-01-06  59.419998  59.450001  58.869999  59.000000   8069400  51.459220
2012-01-09  59.029999  59.549999  58.919998  59.180000   6679300  51.616215

In [6]:
df.resample('M').mean()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2012-01-31,60.159000,60.572000,59.803000,60.235500,8.178850e+06,52.536811
2012-02-29,60.935500,61.224001,60.582500,60.898000,9.965725e+06,53.114637
2012-03-31,60.309546,60.642273,60.101818,60.433637,8.446464e+06,52.983866
2012-04-30,60.073000,60.553000,59.727000,60.149000,1.258940e+07,52.812508
2012-05-31,61.173182,61.771819,60.985455,61.456363,1.123173e+07,54.230701
2012-06-30,67.368095,67.817619,67.004285,67.503810,1.091737e+07,59.672434
2012-07-31,72.111905,72.703333,71.755715,72.406667,1.003269e+07,64.006492
2012-08-31,73.077392,73.460434,72.696957,73.044783,7.113848e+06,64.842778
2012-09-30,74.158421,74.593157,73.805790,74.181579,6.400263e+06,65.930135
2012-10-31,75.431430,75.893333,74.895714,75.306191,6.898010e+06,66.929653
2012-11-30,71.136190,71.619524,70.553333,71.109523,9.223214e+06,63.199794
2012-12-31,69.845501,70.243499,69.386500,69.711000,9.921685e+06,62.265265
2013-01-31,69.038573,69.402380,68.661904,69.094761,7.238471e+06,61.749910
2013-02-28,70.475790,71.057368,70.088947,70.623159,1.081346e+07,63.115837
2013-03-31,73.253999,73.802000,72.978499,73.436499,7.572825e+06,65.948190
2013-04-30,77.554091,78.206819,77.114546,77.689546,7.503900e+06,69.879001
2013-05-31,77.839091,78.273637,77.371818,77.816364,7.377050e+06,70.316409
2013-06-30,75.063999,75.608500,74.587500,74.978000,8.130430e+06,67.844568
2013-07-31,77.025455,77.449091,76.661818,77.115454,5.137518e+06,69.778664
2013-08-31,75.312273,75.654545,74.878181,75.224092,6.084041e+06,68.402247
2013-09-30,74.470000,74.883501,73.989500,74.439500,6.205485e+06,67.766316
2013-10-31,74.832609,75.320435,74.259130,74.979131,6.565039e+06,68.257571
2013-11-30,78.690000,79.185000,78.373000,78.973001,5.657180e+06,71.893407
2013-12-31,78.900000,79.212857,78.464286,78.775238,5.606848e+06,72.089868
2014-01-31,76.711428,77.070477,76.119999,76.531428,6.954705e+06,70.076277
2014-02-28,73.857895,74.423158,73.464736,74.055790,7.405726e+06,67.809449
2014-03-31,75.307618,75.783333,74.871905,75.302381,6.824614e+06,69.311647
2014-04-30,77.678571,78.117620,77.350000,77.808571,6.361838e+06,71.705345
2014-05-31,77.377142,77.685238,77.022857,77.380953,5.790376e+06,71.667063
2014-06-30,76.053810,76.370476,75.695715,76.010000,5.994081e+06,70.481530
2014-07-31,76.175909,76.542273,75.911819,76.210909,5.462068e+06,70.667826
2014-08-31,74.577619,74.953334,74.236667,74.676666,5.462624e+06,69.637241
2014-09-30,76.247142,76.669048,75.953810,76.336190,5.729590e+06,71.250319
2014-10-31,76.457827,77.072610,75.918261,76.488695,7.712461e+06,71.392663
2014-11-30,81.510000,82.251053,81.093684,81.885263,8.381747e+06,76.429687
2014-12-31,85.171364,85.792727,84.580455,85.125910,6.315718e+06,79.857393
2015-01-31,87.666000,88.388500,86.937500,87.609500,7.935950e+06,82.229379
2015-02-28,85.444737,85.959475,84.854210,85.523158,7.291605e+06,80.271160
2015-03-31,82.459090,83.029091,81.955454,82.473182,6.478773e+06,77.724541
2015-04-30,79.743333,80.218572,79.224762,79.560476,6.842148e+06,75.123171
2015-05-31,77.487000,77.877500,76.964501,77.336000,7.556285e+06,73.413326
2015-06-30,73.018636,73.319546,72.592272,72.797273,8.024564e+06,69.170981
2015-07-31,72.770909,73.193636,72.336364,72.750000,6.836141e+06,69.126063
2015-08-31,69.430000,70.046667,68.670476,69.286668,1.082520e+07,66.240174
2015-09-30,64.267143,64.675715,63.788095,64.252381,9.086381e+06,61.468623
2015-10-31,61.884091,62.320000,61.164091,61.564546,1.577316e+07,58.897239
2015-11-30,58.949000,59.469000,58.501000,58.912000,1.123147e+07,56.359616
2015-12-31,59.855909,60.432273,59.548636,59.986818,1.031604e+07,57.847067
2016-01-31,62.893157,63.886317,62.426315,63.221053,1.392602e+07,60.988580
2016-02-29,66.052500,66.791000,65.294001,66.248000,1.315514e+07,63.908639
2016-03-31,67.428637,68.065908,66.998636,67.555000,9.232177e+06,65.521595
2016-04-30,68.904762,69.319524,68.360951,68.825239,6.726038e+06,66.886391
2016-05-31,67.851429,68.483333,67.418095,68.052857,1.109107e+07,66.459055
2016-06-30,71.205454,71.683182,70.884091,71.346363,8.450395e+06,69.844154
2016-07-31,73.526000,73.824501,73.182000,73.541499,6.886175e+06,71.993071
2016-08-31,72.874782,73.390000,72.392173,72.830000,9.237391e+06,71.634919
2016-09-30,72.052857,72.491429,71.577619,72.008572,8.427805e+06,70.974983
2016-10-31,69.372858,69.734286,68.870953,69.239524,8.129343e+06,68.245681
2016-11-30,70.192858,70.730476,69.821429,70.304763,1.001765e+07,69.295630
2016-12-31,70.515239,70.971905,70.134762,70.519047,7.739405e+06,69.909631